<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add Book</title>
    </head>
    <body>
        <form method="post">
            <label>
                <input type="text" name="title" placeholder="Book Title">
            </label>
            <label>
                <input type="text" name="description" placeholder="Book Description">
            </label>
            <label>
                <input type="text" name="price" placeholder="Book price">
            </label>
            <label>
                <input type="text" name="author" placeholder="Book Author">
            </label>
            <input type="submit" name="Add">
        </form>
    </body>
</html>
